<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mymusic.entity.IStockOutDao">
    <resultMap id="BaseResultMap" type="com.example.mymusic.entity.StockOut">
        <id 	 column="id"                        jdbcType="BIGINT"        property="id" />
        <result  column="stock_out_no"              jdbcType="VARCHAR"       property="stockOutNo"/>
        <result  column="order_no"                  jdbcType="VARCHAR"       property="orderNo"/>
        <result  column="stock_out_name"            jdbcType="VARCHAR"       property="stockOutName"/>
        <result  column="one_type"                  jdbcType="VARCHAR"       property="oneType"/>
        <result  column="second_type"               jdbcType="VARCHAR"       property="secondType"/>
        <result  column="name"                      jdbcType="VARCHAR"       property="name"/>
        <result  column="brand"                     jdbcType="VARCHAR"       property="brand"/>
        <result  column="specs"                     jdbcType="VARCHAR"       property="specs"/>
        <result  column="count"                     jdbcType="BIGINT"        property="count"/>
        <result  column="apply_time"                jdbcType="TIMESTAMP"     property="applyTime"/>
        <result  column="out_time"                  jdbcType="TIMESTAMP"     property="outTime"/>
        <result  column="apply_user"                jdbcType="VARCHAR"       property="applyUser"/>
        <result  column="out_user"                  jdbcType="VARCHAR"       property="outUser"/>
        <result  column="audit_user"                jdbcType="VARCHAR"       property="auditUser"/>
        <result  column="status"                    jdbcType="VARCHAR"       property="status"/>
        <result  column="remark"                    jdbcType="VARCHAR"       property="remark"/>
        <result  column="create_time"               jdbcType="TIMESTAMP"     property="createTime"/>
        <result  column="update_time"               jdbcType="TIMESTAMP"     property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_out_no,stock_out_name,one_type,second_type,order_no,name,brand,specs,count,apply_time,out_time,apply_user,out_user,audit_user,status,remark,create_time,update_time
    </sql>

    <sql id="As_Column_List">
        t.id as id,t.stock_out_no as stockOutNo,t.stock_out_name as stockOutName,t.order_no as orderNo,t.one_type as oneType,t.second_type as secondType,t.name as name,t.brand as brand,t.specs as specs,t.count as count,t.apply_time as applyTime,t.out_time as outTime,t.apply_user as applyUser,t.out_user as outUser,t.audit_user as auditUser,t.status as status,t.remark as remark,t.create_time as createTime,t.update_time as updateTime
    </sql>

    
    <!-- 添加出库表     @author 聂枫     @date 2021年09月28日 18时19分06秒     -->
    <insert id="addStockOut" parameterType="com.example.mymusic.entity.StockOut" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into b_stock_out(
            stock_out_no,order_no,stock_out_name,one_type,second_type,name,brand,specs,count,apply_time,out_time,apply_user,out_user,audit_user,status,remark,create_time,update_time
        )
        values(
            #{stockOutNo},#{orderNo},#{stockOutName},#{oneType},#{secondType},#{name},#{brand},#{specs},#{count},#{applyTime},#{outTime},#{applyUser},#{outUser},#{auditUser},#{status},#{remark},now(),now()
        )
    </insert>

    
    <!-- 修改出库表     @author 聂枫     @date 2021年09月28日 18时19分06秒     -->
    <update id="updateStockOut" parameterType="com.example.mymusic.entity.StockOut">
        update b_stock_out
        <set>
            <if test="stockOutName !=null and stockOutName != ''">
                stock_out_name = #{stockOutName},
            </if>
            <if test="orderNo !=null and orderNo != ''">
                order_no = #{orderNo},
            </if>
            <if test="oneType !=null and oneType != ''">
                one_type = #{oneType},
            </if>
            <if test="secondType !=null and secondType != ''">
                second_type = #{secondType},
            </if>
            <if test="name !=null and name != ''">
                name = #{name},
            </if>
            <if test="brand !=null and brand != ''">
                brand = #{brand},
            </if>
            <if test="specs !=null and specs != ''">
                specs = #{specs},
            </if>
            <if test="count !=null ">
                count = #{count},
            </if>
            <if test="applyTime !=null and applyTime != ''">
                apply_time = #{applyTime},
            </if>
            <if test="outTime !=null and outTime != ''">
                out_time = #{outTime},
            </if>
            <if test="applyUser !=null and applyUser != ''">
                apply_user = #{applyUser},
            </if>
            <if test="outUser !=null and outUser != ''">
                out_user = #{outUser},
            </if>
            <if test="auditUser !=null and auditUser != ''">
                audit_user = #{auditUser},
            </if>
            <if test="status !=null and status != ''">
                status = #{status},
            </if>
            <if test="remark !=null and remark != ''">
                remark = #{remark},
            </if>
            update_time = now()
            where stock_out_no = #{stockOutNo}
        </set>
    </update>

    
    <!-- 删除出库表     @author 聂枫     @date 2021年09月28日 18时19分06秒     -->
    <update id="delStockOut" parameterType="java.lang.String">
        update b_stock_out
        <set>
        status='delete',
            update_time = now()
            where stock_out_no = #{stockOutNo}
        </set>
    </update>

    
    <!-- 查询出库表     @author 聂枫     @date 2021年09月28日 18时19分06秒     -->
    <select id="queryStockOutByStockOutNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/> 
        from b_stock_out
        where stock_out_no = #{stockOutNo}
    </select>

    <!-- 分页查询出库表数量统计 -->
    <select id="queryStockOutCountByCondition" parameterType="com.example.mymusic.entity.param.StockOutParam" resultType="java.lang.Long">
        select count(1)
        from b_stock_out
        <include refid="sqlWhere"/>
    </select>

    <!-- 分页查询出库表 -->
    <select id="queryStockOutByCondition" parameterType="com.example.mymusic.entity.param.StockOutParam" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from b_stock_out
        <include refid="sqlWhere"/>
        order by update_time desc
        limit #{start},#{limit}
    </select>

    <!-- 分页查询   查询条件 -->
    <sql id="sqlWhere">
        <where>
            1=1
            <if test="stockOutName !=null and stockOutName != ''">
                and  stock_out_name  like "%"#{stockOutName}"%"
            </if>
            <if test="oneType !=null and oneType != ''">
                and  one_type like "%"#{oneType}"%"
            </if>
            <if test="orderNo !=null and orderNo != ''">
                and  order_no like "%"#{orderNo}"%"
            </if>
            <if test="secondType !=null and secondType != ''">
                and  second_type like "%"#{secondType}"%"
            </if>
            <if test="name !=null and name != ''">
                and  name  like "%"#{name}"%"
            </if>
            <if test="brand !=null and brand != ''">
                and  brand  like "%"#{brand}"%"
            </if>
            <if test="specs !=null and specs != ''">
                and  specs like "%"#{specs}"%"
            </if>
            <if test="count !=null and count != 0">
                and   count  = #{count}
            </if>
            <if test="applyTime !=null and applyTime != ''">
                and  apply_time like "%"#{applyTime}"%"
            </if>
            <if test="outTime !=null and outTime != ''">
                and  out_time like "%"#{outTime}"%"
            </if>
            <if test="applyUser !=null and applyUser != ''">
                and  apply_user like "%"#{applyUser}"%"
            </if>
            <if test="outUser !=null and outUser != ''">
                and  out_user like "%"#{outUser}"%"
            </if>
            <if test="auditUser !=null and auditUser != ''">
                and  audit_user  like "%"#{auditUser}"%"
            </if>
            <if test="status !=null and status != ''">
                and  status like "%"#{status}"%"
            </if>
            <if test="remark !=null and remark != ''">
                and  remark like "%"#{remark}"%"
            </if>
        </where>
    </sql>


</mapper>